/* Primary purple color */
.bg-theme {
  background-color: #503C93 !important;
}

.bg-gray {
  background-color: #E7E7E7 !important;
}

.bg-fit {
  background-size: cover;
}

.bg-position-bottom {
  background-position: bottom;
}

.text-theme {
  color: #503C93 !important;
}

.text-theme-very-light {
  color: rgba(80, 60, 147, 0.25) !important;
}

.text-black {
  color: #000 !important;
}

.logo {
  height: 85px;
}

@media (min-width: 992px) {
  .logo-lg {
    height: 120px;
  }
}

@media (min-width: 1200px) {
  .logo-xl {
    height: 150px;
  }
}

.logo-footer {
  height: 5rem;
}

.icon {
  opacity: 1;
}

.icon:hover {
  opacity: 0.6;
}

.icon-size {
  height: 5em;
  width: auto;
}

@media (min-width: 576px) {
  .icon-size {
    height: 3em;
    width: auto;
  }
}

@media (min-width: 768px) {
  .icon-size {
    height: 2em;
    width: auto;
  }
}

@media (min-width: 992px) {
  .icon-size {
    height: 3em;
    width: auto;
  }
}

@media (min-width: 1200px) {
  .icon-size {
    height: 5em;
    width: auto;
  }
}

.text-circle {
  height: 1.5em;
  width: 1.5em;
  line-height: 1.5em;
  box-sizing: content-box;
  vertical-align: middle;
  text-align: center;
}

.text-vstretch {
  transform: scale(1, 1.25);
  -webkit-transform: scale(1, 1.25);
  -moz-transform: scale(1, 1.25);
  -ms-transform: scale(1, 1.25);
  -o-transform: scale(1, 1.25);
}

.font-size-background {
  font-size: 25vw !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

@media (min-width: 768px) {
  .font-size-background {
    font-size: 23vw !important;
  }

  .h1-md {
    font-size: 2.5rem;
  }

  .h4-md {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .font-size-background {
    font-size: 22vw !important;
  }
}

@media (min-width: 1200px) {
  .font-size-background {
    font-size: 21vw !important;
  }
}

.custom-control-label-quiz label {
  left: -1.5rem;
  font-size: 1.2rem;
  padding-left: 2.5rem;
}

.custom-control-label-quiz label:before {
  left: 0rem;
  width: 1.5rem;
  height: 1.5rem;
}

.custom-control-label-quiz label:after {
  left: 0rem;
  width: 1.5rem;
  height: 1.5rem;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-size: 1rem;
}

@media (min-width: 576px) {
  .custom-control-label-quiz label {
    left: -1.5rem;
    font-size: 1.5rem;
    padding-left: 3rem;
  }
  
  .custom-control-label-quiz label:before {
    left: 0rem;
    width: 2rem;
    height: 2rem;
  }
  
  .custom-control-label-quiz label:after {
    left: 0rem;
    width: 2rem;
    height: 2rem;
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .custom-control-label-quiz label {
    left: -1.5rem;
    font-size: 1.2rem;
    padding-left: 2.5rem;
  }
  
  .custom-control-label-quiz label:before {
    left: 0rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .custom-control-label-quiz label:after {
    left: 0rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-size: 1rem;
  }
}

@media (min-width: 992px) {
  .custom-control-label-quiz label {
    left: -1.5rem;
    font-size: 1.5rem;
    padding-left: 3rem;
  }
  
  .custom-control-label-quiz label:before {
    left: 0rem;
    width: 2rem;
    height: 2rem;
  }
  
  .custom-control-label-quiz label:after {
    left: 0rem;
    width: 2rem;
    height: 2rem;
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .custom-control-label-quiz label {
    left: -1.5rem;
    font-size: 2rem;
    padding-left: 4rem;
  }
  
  .custom-control-label-quiz label:before {
    left: 0rem;
    width: 3rem;
    height: 3rem;
  }
  
  .custom-control-label-quiz label:after {
    left: 0rem;
    width: 3rem;
    height: 3rem;
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-size: 2.5rem;
  }
}

.btn-xl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

.short-line-break {
  height: 5px;
  width: 65px;
}

.line-break {
  height: 5px;
}

.line-height-small {
  line-height: 1;
}

.z-10000 {
  z-index: 10000;
}

.bg-no-repeat {
  background-repeat: no-repeat !important;
}

.bg-center {
  background-position: center !important;
}

.partial .collapse:not(.show) {
  display: block;
  --line-height: 1.5em;
  height: calc(var(--line-height) * 3);
  overflow: hidden;
}

.partial div.collapsed {
  content: "";
  margin: 0 auto;
  width: 0px;
  height: 0px;
  border-top: 15px solid #503C93;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  transition-duration: 0.35s;
}

.partial div.collapsed.show {
  transform: rotate(-180deg);
  transition-duration: 0.35s;
}

.partial .collapsing {
  --line-height: 1.5em;
  height: calc(var(--line-height) * 3);
  overflow: hidden;
  transition: height 0.35s ease;
}

.top {
  top: 0 !important;
}

.right {
  right: 0 !important;
}

.bottom {
  bottom: 0 !important;
}

.left {
  left: 0 !important;
}

.opacity-75 {
  opacity: 0.75 !important;
}

.opacity-100 {
  opacity: 1 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(80, 60, 147, 1)
}

.navbar-collapse {
  background-color: rgb(124, 109, 174);
}

@media (min-width: 768px) {
  .navbar-collapse {
    background-color: transparent;
  }
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-overlay-theme {
  background-color: rgba(80, 60, 147, 0.75);
}

.option {
  background-color: #8E78B8;
  justify-content: center;
}

.option.active {
  background-color: #503C93;
}

.hide-overflow-pic {
  object-fit: cover;
}

.border-1 {
  border-width: 0.125rem !important;
}

.border-2 {
  border-width: 0.25rem !important;
}

.border-theme {
  border-color: #503C93 !important;
}

.border-theme-light {
  border-color: rgba(80, 60, 147, 0.5) !important;
}

.border-black {
  border-color: #000 !important;
}

@media (min-width: 768px) {
  .border-md-right {
    border-right: 1px solid;
  }
}

.shadow-br {
  box-shadow: 0.35rem 0.35rem 0.45rem  rgba(0, 0, 0, 0.35) !important;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
}

.footer .container {
  padding: 1rem 5rem;
  max-width: 90%;
}

.rounded-xl {
  border-radius: 1.5rem;
}

.mw-50 {
  max-width: 50% !important;
}

.max-vh-75 {
  max-height: 75vh !important;
}

.vh-25 {
  height: 25vh !important;
}

.vh-50 {
  height: 50vh !important;
}

.vh-75 {
  height: 75vh !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}