/* Primary purple color */
.primary-color {
  background-color: #503C93;
}

.icon {
  color: #FFFFFF;
}

.icon:hover {
  opacity: 0.75;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

.border-1 {
  border-width: 0.25rem !important;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
}

.footer .container {
  padding: 1rem 5rem;
  max-width: 90%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}